

<p class='font-bold text-2xl'> Edit your profile </p>
<%= form_with model: @user, scope: :profile, url: profile_path, class: 'flex flex-col' do |f| %>
  <div>
    <%= f.label :username, 'Username:' %>
    <%= f.text_field :username, class: 'border border-black' %>
  </div>
  <p>Current Avatar: <%= user_avatar(current_user) %> </p>
  <%= f.file_field :avatar %>
  <%= f.submit 'Update Profile', class: 'text-left bg-slate-200 w-fit p-2 rounded-md cursor-pointer' %>
<% end %>
