<div class="w-full h-full grid grid-cols-4 grid-rows-1">
  <div class="col-start-2 col-span-2 row-end-2 overflow-auto flex flex-col border-x border-gray-200">
    <div class="bg-green-300 w-full h-44 flex items-end justify-center">
      <div class="relative -bottom-12 h-32 w-32 rounded-full p-1 bg-white">
        <%= user_avatar @user, class: 'w-full h-full rounded-full' %>
      </div>
    </div>
    <div class="w-full flex justify-end items-center gap-2 p-2">
      <%= button_to direct_conversations_path(other_user: @user.id), class: "p-2 border border-gray-200 hover:bg-green-400 rounded-full" do %>
        <%= embedded_svg 'icons/chat.svg', class: 'h-7' %>
      <% end %>
      <% unless current_user == @user %>
        <%= link_to new_admin_report_path(@user.username),
                    data: { turbo_frame: 'modal' },
                    class: 'p-2 border border-gray-200 hover:bg-red-400 rounded-full' do %>
          <%= embedded_svg 'icons/report.svg', class: 'h-7' %>
        <% end %>
      <% end %>
      <% unless current_user.username == @user.username %>
        <% if @follow.nil? %>
          <%= button_to "Follow", follows_path, params: { relationship: { followed_id: @user.id } }, 
                                                method: :post, 
                                                class: "font-bold text-lg border border-gray-200 p-1 px-2 rounded-full hover:bg-gray-50" %>
            <% else %>
          <%= button_to "Unfollow", follow_path(@user.id), method: :delete,
                                                           class: "font-bold text-lg border border-gray-200 p-1 px-2 rounded-full hover:bg-gray-50" %>
        <% end %>
      <% end %>

      <% if current_user == @user %>
        <%= link_to 'Edit Profile', edit_profile_path(@user.username), class: "font-bold text-lg border border-gray-200 p-1 px-2 rounded-full hover:bg-gray-50"  %>
      <% end %>
    </div>
    <div class="w-full text-center">
      <h2 class="text-xl font-bold"><%= @user.username %></h2>
      <p class="text-gray-400"><%= @user.email %></p>
    </div>
    <div class="w-full h-10 flex flex justify-center gap-4">
      <p><span class='font-bold'><%= @following_count %></span> following </p>
      <p><span class='font-bold'><%= @follower_count %></span> followers </p>
    </div>
    <div class="w-full flex-1">
      <div class="w-full grid grid-cols-4 justify-items-center border-b border-gray-200 text-center">
        <p class="p-6 border-b-4 font-bold">Posts</p>
      </div>
      <div>

        <% @posts.each do |post| %>
          
          <%= render 'posts/post', post: %>
          
        <% end %>
        
      </div>
    </div>
  </div>
</div>
