<%= turbo_frame_tag "modal" do %>
    <%= tag.div data: { controller: "turbo-modal", action: "turbo:submit-end->turbo-modal#submitEnd" } do %>
      <div class="fixed inset-0 flex items-center justify-center h-screen w-screen bg-black bg-opacity-40 backdrop-filter backdrop-blur-lg z-20 animated fadeInUp" >
        <div class="flex-grow max-w-screen-sm rounded-xl bg-gray-100 flex flex-col" data-turbo-modal-target="modal"  data-action="click@window->turbo-modal#outsideClose" >
          <h2 class="font-bold text-2xl px-7 pt-4">Report User</h2>
          <div class="px-7 pt-3 flex gap-4 items-center">
            <h1 class="text-xl"></h1>
          </div>
          <div>
            <%= form_with url: profile_report_user_index_path(params[:profile_username]) do |form| %>
              <div>
                <div class="py-10 px-7 flex flex-col gap-6">
                  <div class="grid grid-cols-6 text-xl items-center">
                    <%= form.hidden_field :report_type, class:"col-span-4 p-1 px-2 rounded-xl border border-gray-400", value: "USER" %>
                  </div>
  
                  <div class="flex gap-2">
                    <label class="col-span-2 text-gray-700">Please select a reason:</label>
                  </div>
                  <div class="flex gap-2">
                    <%= form.radio_button :reason, 'Fake account', :checked => true %> 
                    <%= form.label 'Fake account'%>
                  </div>
                  <div class="flex gap-2">
                    <%= form.radio_button :reason, 'Fake name'%>
                    <%= form.label 'Fake name'%>
                  </div>
                  <div class="flex gap-2">
                    <%= form.radio_button :reason, 'Pretending to be someone'%>
                    <%= form.label 'Pretending to be someone'%>
                  </div>
                  <div class="flex gap-2">
                    <%= form.radio_button :reason, 'Posting inappropriate things'%>
                    <%= form.label 'Posting inappropriate things'%>
                  </div>                
                  <div class="flex gap-2">
                    <%= form.radio_button :reason, 'Suspicious or spam'%>
                    <%= form.label 'Suspicious or spam'%>
                  </div>
                </div>
                <div class="bg-gray-200 px-7 py-4 flex flex-row-reverse gap-3 items-center font-medium text-lg rounded-b-xl" >
                  <%= form.submit "SUBMIT REPORT", class:"px-4 py-2 bg-red-500 text-white rounded-xl" %>
                  <button data-action="turbo-modal#hideModal">Cancel</button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>