<h1>Exercise routine</h1>

<p><b>routine:</b> <%= @routine.name%></p>
<p><b>Description:</b> <%= @routine.description%></p>
<%= link_to "Update", edit_routine_path(@routine)%>
<%= button_to "Delete", routine_path(@routine), method: :delete %>

<p class='font-bold'> Timed Exercises </p>
<% @routine.timed_exercises.each do |timed_exercise| %>
  <p><%= timed_exercise.name %></p>
  <%= button_to 'Delete exercise', routine_timed_exercise_path(@routine, timed_exercise), method: :delete %>
<% end %>

<p class='font-bold'> Repetition Exercises </p>
<% @routine.repetition_exercises.each do |repetition_exercise| %>
  <p><%= repetition_exercise.name %></p>
  <%= button_to 'Delete exercise', routine_repetition_exercise_path(@routine, repetition_exercise), method: :delete %>
<% end %>
