<h1>Exercise categories</h1>

<% @exercise_categories.each do |category|%>
    <p><b>Category:</b> <%= category.name%></p>
    <p><b>Description:</b> <%= category.description%></p>
    <%= link_to "Update", edit_exercise_category_path(category)%>
    <%= button_to "Delete", exercise_category_path(category), method: :delete %>
<%end%>

<%= link_to "Add exercise category", new_exercise_category_path%>

