<%= form_with(model: rep_exercise) do |form| %>

<div>
    <%= form.label :name %>
    <%= form.text_field :name%>
</div>

<div>
    <%= form.label :description %>
    <%= form.text_area :description %>
</div>

<div>
    <%= form.label :repetition %>
    <%= form.number_field :repetition %>
</div>

<div>
    <%= form.label :set %>
    <%= form.number_field :set %>
</div>

<div>
    <%= form.submit%>
</div>

<% end %>