<div class="flex flex-col <%= message.user == user ? "col-start-2 col-end-5" : "col-start-1 col-end-4" %>" id="<%= dom_id(message)%>" data-hidden="<%= owned_by %>">
  <div class="flex-1 p-4 rounded-t-full <%= message.user == user ? "bg-green-600 text-white rounded-bl-full" : "bg-gray-200 text-gray-900 rounded-t-full rounded-br-full" %>" data-hidden="<%= owned_by %>">
    <%= message.content %>
  </div>
  <div class="font-sm text-gray-600 flex gap-2 <%= "justify-end" if message.user == user %>" data-hidden="<%= owned_by %>">
    <p data-hidden="<%= owned_by %>"><%= message.created_at.strftime("%b. %d, %Y, %I:%M%p") %> </p>
    <span data-hidden="<%= owned_by %>">seen</span>
  </div>
</div>
