<div id='notifications'>
  <%= turbo_stream_from 'notification_count' %>
  <%= render partial: 'direct_conversations/notification', locals: { notifications: @notifications } %>
</div>

<p class='text-xl font-bold'> Users to Chat </p>

<% @users.each do |user| %>
  <%= button_to user.username, direct_conversations_path(other_user: user.id) %>
<% end %>

<p class='text-xl font-bold'> Existing Conversations </p>

<div id='conversations'>
  <%= turbo_stream_from 'conversations' %>
  <%= render partial: 'direct_conversations/conversation', collection: @conversations %>
</div>
