<%= turbo_stream_from 'unread_message_notifications' %>
<%= turbo_stream_from 'conversations' %>

<div id="unread_count_<%= current_user.id%>">
  <%= render 'direct_conversations/notification', user: current_user %>
</div>

<p class='text-xl font-bold'> Users to Chat </p>

<% @users.each do |user| %>
  <%= button_to user.username, direct_conversations_path(other_user: user.id) %>
<% end %>

<p class='text-xl font-bold'> Existing Conversations </p>

<div id="conversations_<%=current_user.id%>">
  <% @conversations.each do |conversation| %>
    <%= render 'direct_conversations/conversation', user: Current.user, conversation: conversation %>
  <% end %>
</div>
