<% content_for :head do %>
  <style>
    [data-hidden="<%= current_user.id %>"] { display: none; }
  </style>
<% end %>

<%= turbo_stream_from 'conversations' %> 

<div class="w-full h-full grid grid-cols-4 grid-rows-1">
  <div class="flex flex-col gap-4 border-r border-gray-400">
    <h3 class="font-bold text-xl p-4">Messages</h3>
    <div class="px-4">
      <input type="text" placeholder="Search Direct Messages" class="p-3 w-full rounded-full border border-gray-400">
    </div>
    <div class="flex flex-col overflow-y-auto">

      <div class="py-4 border-y-2 border-gray-400">
        <h3 class="font-bold text-xl px-4">Recent Conversations:</h3>
        <% @conversations.each do |conversation| %>
          <%= link_to direct_conversation_path(conversation), class: 'w-full' do %>
          <div class="flex gap-2 hover:bg-gray-100 cursor-pointer p-4 <%= message_status(conversation.id) %>">
            <%= conversation_avatar_to_display(conversation.members) %>
            <div class="flex flex-col">
              <div class="flex gap-2">
                <h4 class="font-bold"><%= conversation_username_to_display(conversation.members) %></h4>
                <%= render 'direct_conversations/conversation', user: current_user, conversation: %>
              </div>
                <p class="font-light underline">Send a Message</p>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>

      <div class="py-4">
        <h3 class="font-bold text-xl px-4">New Conversations:</h3>
        <% @new_conversations.each do |user| %>
          <%= button_to direct_conversations_path(other_user: user.id), class: 'w-full' do %>
          <div class="flex gap-2 hover:bg-gray-100 cursor-pointer p-4">
            <%= user_avatar user, class: 'h-12 w-12 bg-green-200 rounded-full' %>
            <div class="flex flex-col">
              <div class="flex gap-2">
                <h4 class="font-bold"><%= user.username %></h4>
              </div>
                <p class="font-light underline">Start a new Conversation</p>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
  
  <div class="col-span-2 border-r border-gray-400 flex flex-col">
    <div class="p-4">
      <h2 class="font-bold text-xl"><%= @conversation.show_conversation_name(current_user) %></h2>
    </div>
    
    <div class="flex-1 flex flex-col justify-end overflow-y-scroll px-4 gap-2">
      <%= turbo_stream_from 'messages' %>
      <div class="grid w-full grid-cols-4" id='messages_<%=@conversation.id%>'>
       <%= render partial: 'conversation_messages/message', collection: @conversation_messages, locals: { user: current_user, owned_by: '' } %>
      </div>
    </div>

    <div class="flex gap-4 p-4 items-center">
      <%= form_with model: @message, url: conversation_messages_path(conversation: @conversation.id), class: 'w-full flex gap-4' do |f| %>
        <%= f.text_field :content, placeholder: 'Start a new message', class: 'flex-1 border border-gray-800 p-3 rounded-full' %>
        <button type="submit">
          <%= embedded_svg 'icons/send.svg', class: 'h-14 rotate-90 fill-green-500' %>
        </button>
      <% end %>
    </div>
  </div>
  
</div>
