<%= link_to notification.to_notification.url, class:"flex px-8 py-4 border-b border-gray-300 hover:bg-gray-100 gap-4 bg-green-100" do %>
  <div class='mr-2'>
      <%= user_avatar current_user, class: 'h-16 w-16 rounded-full' %>
  </div>
  <div class="flex-1">
    <p class="font-light">
      <strong class="font-bold"><%= notification.to_notification.username %></strong> 
      <%= notification.to_notification.title %>
    </p>
    <p class="font-light"><%= notification.to_notification.body %></p>
  </div>
<% end %>
