<%= turbo_frame_tag 'dashboard_tab_upper' do %>
    <div class="flex flex-col gap-3 h-full">
    <div class="flex gap-5 items-center justify-between">
      <div class="flex gap-2">
        <%= link_to "Daily Intakes", daily_intakes_path,
                    class: 'font-semibold text-2xl text-green-800 hover:underline decoration-2' %>
        <%= link_to "Routines", routines_path,
                    class: 'font-semibold text-2xl text-green-800 opacity-50 hover:underline decoration-2' %>
      </div>
      <div class="flex gap-3">
        <%= link_to "+ Food", new_daily_intake_food_path,
                    data: {turbo_frame: 'modal'},
                    class: 'border border-green-500 text-green-500 font-bold text-lg p-2 rounded-md'%>

        <%= link_to "+ Meal", new_daily_intake_meal_path,
                    data: {turbo_frame: 'modal'},
                    class: 'bg-green-500 text-white font-bold text-lg p-2 rounded-md'%>
      </div>
    </div>
    <div class="w-full h-full grid grid-cols-2 gap-5">
      <div class="bg-green-200 flex flex-col justify-center gap-2 items-center rounded-xl">
        <p class="text-xl font-light text-gray-600">Calories</p>
        <p class="text-2xl font-black">2.1k</p>
        <p class="text-md text-gray-700">Perfect Amount</p>
      </div>
      <div class="bg-red-200 flex flex-col justify-center gap-2 items-center rounded-xl">
        <p class="text-xl font-light text-gray-600">Carbs</p>
        <p class="text-2xl font-black">5.8k</p>
        <p class="text-md text-gray-700">Too Much</p>
      </div>
      <div class="bg-purple-100 flex flex-col justify-center gap-2 items-center rounded-xl">
        <p class="text-xl font-light text-gray-600">Fats</p>
        <p class="text-2xl font-black">10(g)</p>
        <p class="text-md text-gray-700">You need more</p>
      </div>
      <div class="bg-gray-200 flex flex-col justify-center gap-2 items-center rounded-xl">
        <p class="text-xl font-light text-gray-600">Protein</p>
        <p class="text-2xl font-black">0(g)</p>
        <p class="text-md text-gray-700">Eat food with Protein</p>
      </div>
    </div>
  </div>
<% end %>
