<p>Meal: <%= @meal.name %></p>
<p>Description: <%= @meal.description %></p>

<div class= 'bg-slate-100'>
  <% @meal.foods.each do |food| %>
    <%= food.name %>
    <%= food.description%>
    <%= food.calories %>
    <%= food.carbohydrates %>
    <%= food.fats %>
    <%= food.protein %>
    <%= button_to 'Delete food', meal_food_path(@meal, food), method: :delete %>
  <% end %>
</div>

<div class= 'bg-slate-300'>
  <p> Total Calories: <%= "#{@meal.total_calories}g" %> </p>
  <p> Total Carbohydrates: <%= "#{@meal.total_carbohydrates}g" %> </p>
  <p> Total Fats: <%= "#{@meal.total_fats}g" %> </p>
  <p> Total Protein: <%= "#{@meal.total_protein}g" %> </p>
</div>