<div class="w-full h-full p-8 bg-gray-300">
  <div class="w-full h-full grid grid-cols-3 grid-rows-4 gap-8">
    <div class="bg-gray-50 rounded-xl p-4 flex items-baseline justify-between">
      <div class="flex flex-col gap-2">
        <p class="text-2xl font-semibold text-gray-600">Total Reports</p>
        <div class="flex justify-between">
          <p class="text-5xl font-bold"><%= @reports.count %></p>
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <p class="text-2xl font-semibold text-gray-600">Recent Reported User</p>
        <div class="flex gap-2 items-center">
          <div>
            <%= image_tag 'default_profile.png', class: 'w-14 h-14 rounded-full' %>
          </div>
          <p class="text-4xl font-bold"></p>
        </div>
      </div>
    </div>

    <div class="bg-gray-50 rounded-xl"></div>

    <div class="bg-gray-50 rounded-xl"></div>

    <div class="bg-gray-50 col-span-3 row-span-3 overflow-y-auto rounded-xl">
      <table class="min-w-max w-full table-auto">
        <thead>
          <tr
            class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal"
          >
            <th class="py-3 px-6 text-left">Reporter</th>

            <th class="py-3 px-6 text-left">Reported User</th>

            <th class="py-3 px-6 text-left">Reported Post</th>

            <th class="py-3 px-6 text-left">Reason/s</th>

            <th class="py-3 px-6 text-left">Type</th>

            <th class="py-3 px-6 text-center">Actions</th>
          </tr>
        </thead>

        <tbody class="text-gray-600 text-sm font-light">
          <% @reports.includes(:user).each do |report| %>
          <tr class="border-b border-gray-200 hover:bg-gray-100">
            <td class="py-3 px-6 text-left whitespace-nowrap">
              <div class="flex items-center">
                <div class="mr-2">
                  <%= image_tag 'default_profile.png', class: 'w-6 h-6 rounded-full' %>
                </div>

                <span class="font-medium"><%= report.user.username %></span>
              </div>
            </td>

            <td class="py-3 px-6 text-left">
              <div class="flex items-center">
                <span class="font-bold"><%= report.reported.username %></span>
              </div>
            </td>

            <td class="py-3 px-6 text-left">
              <div class="flex items-center">
                <span class="font-bold"><%= report.post_id %></span>
              </div>
            </td>

            <td class="py-3 px-6 text-center">
              <div class="flex items-center">
                <span><%= report.reason %></span>
              </div>
            </td>

            <td class="py-3 px-6 text-center">
            <div class="flex items-center">
              <span><%= report.report_type %></span>
            </div>
          </td>

            <td class="py-3 px-6 text-center flex justify-center">
              <%= link_to admin_report_path(report),
                          data: { turbo_frame: 'modal' },
                          class: 'w-4 mr-2 transform hover:text-purple-500 hover:scale-110 cursor-pointer' do %>
                <%= embedded_svg 'icons/eye.svg' %>
              <% end %>
              <%= button_to admin_report_path(report), 
                            class: 'w-4 mr-2 transform hover:text-purple-500 hover:scale-110 cursor-pointer',
                            method: :delete, data: { turbo_confirm: 'are you sure?' } do %>
                 <%= embedded_svg 'icons/delete.svg' %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
