<%= turbo_frame_tag "modal" do %>
  <%= tag.div data: { controller: "turbo-modal", action: "turbo:submit-end->turbo-modal#submitEnd" } do %>
    <div
      class="fixed inset-0 flex items-center justify-center h-screen w-screen bg-black bg-opacity-40 backdrop-filter backdrop-blur-lg z-10 animated fadeInUp"
    >
      <div
        class="flex-grow max-w-screen-sm rounded-xl bg-gray-100 flex flex-col"
        data-turbo-modal-target="modal"
        data-action="click@window->turbo-modal#outsideClose"
      >
        <div class="p-8 flex flex-col gap-6">
          <div class="text-xl flex flex-col gap-2">
            <p class="font-light">Reporter:</p>
            <div class="flex gap-2 px-4">
              <%= user_avatar User.first, class: 'h-8 w-8 rounded-full' %>
              <h3 class="font-bold"><%= @report.user.username %></h3>
            </div>
          </div>
          <div class="text-xl flex flex-col gap-2">
            <p class="font-light">Reported:</p>
            <div class="flex gap-2 px-4">
              <%= user_avatar User.first, class: 'h-8 w-8 rounded-full' %>
              <h3 class="font-bold"><%= @report.reported.username %></h3>
            </div>
          </div>
          <div class="text-xl flex flex-col gap-2">
            <p class="font-light">Reason:</p>
            <div class="flex gap-2 px-4">
              <h3 class="font-bold underline"><%= @report.reason %></h3>
            </div>
          </div>
          <div class="text-xl flex flex-col gap-2">
            <p class="font-light">Report Type:</p>
            <div class="flex gap-2 px-4">
              <h3 class="font-medium"><%= @report.report_type %></h3>
            </div>
          </div>
          <div class="text-xl flex gap-2 justify-end px-2">
            <%= link_to 'View Profile', admin_user_path(@report.reported.username), class: "font-bold py-2 px-3 rounded-full bg-red-500 text-red-50" %>
            <%= button_to 'Delete User', admin_user_path(@report.reported.id), method: :delete, data: {confirm: 'Are you sure?'}, class: "font-bold py-2 px-3 rounded-full bg-green-500 text-green-50" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
