<%= form_with(model: post) do |form| %>

<div>
    <%= form.label :post %>
    <%= form.text_area :body%>
</div>
<div>
    <%= form.label :attach_image%>
    <%= form.file_field :images, multiple: true %>
</div>

<div>
    <%= form.submit%>
</div>

<% end %>