<% content_for :head do %>
  <style>
    .button_to { display: flex; align-items:center; justify-items:center;}
  </style>
<% end %>

<div class="flex p-4 gap-4 bg-white border-b-2 border-green-200">
  <div class="flex gap-3">
    <%= user_avatar post.user, class: 'h-10 w-10 rounded-full z-10' %>
  </div>
        
  <div class="flex-1 flex flex-col justify-center relative">
    <% unless current_user == post.user %>
      <%= link_to new_post_report_post_path(post), data: { turbo_frame: 'modal' },
                                                   class: 'absolute top-0 right-0 cursor-pointer p-2 hover:bg-red-200 rounded-full' do %>
        <%= embedded_svg 'icons/report.svg', class: 'h-8 stroke-1' %>
      <% end %>
    <% end %>
    <%= link_to post.user.username, profile_path(post.user.username), class: "font-medium text-lg" %>
      <div class="p-2 min-h-max" ><%= post.body %></div>
        <% if post.images.attached?%>
          <div class="rounded-xl max-h-max w-full bg-blue-200 overflow-hidden">
            <% post.images.each do |image|%>
              <p><%= image_tag image, class: "w-full h-full object-cover" %></p>
            <% end %>
          </div>
        <% end %>
        <div class="flex gap-10 font-light text-lg mt-4">
          <div class="flex justify-between items-center font-light text-lg mt-4 w-full">
            <div class="flex gap-10 items-center">
              <%= link_to post_path(post) do %>
                <%= embedded_svg 'icons/eye.svg', class: 'h-8 w-8 hover:stroke-blue-500 cursor-pointer' %>
              <% end %>
              <div class="flex gap-2 items-center">
                <%= embedded_svg 'icons/comment.svg', class: 'h-8 w-8' %>
                <%= render 'posts/comment', user: current_user, post: %>
              </div>
              <div class="flex gap-2 items-center">
                <% like = current_user.likes.find_by(post: post) %>
                <% if like.nil? %>
                  <%= button_to likes_path(post: post.id) do %>
                    <%= embedded_svg 'icons/heart.svg', class: 'h-8 w-8' %>
                  <% end %>
                <% else %>
                  <%= button_to like_path(like), method: :delete do %>
                    <%= embedded_svg 'icons/solid_heart.svg', class: 'h-8 w-8' %>
                  <% end %>
                <% end %>
                <%= render 'posts/like', user: current_user, post: %>
              </div>
            </div>
            <% if current_user == post.user %>
              <%= button_to post_path(post), method: :delete, class: 'w-6 mr-2 transform hover:text-green-500 hover:scale-110 cursor-pointer' do %>
                <%= embedded_svg 'icons/delete.svg' %>
              <% end %>
            <% end %>
          </div>
        </div>
    </div>
</div>

