<%= turbo_stream_from 'comments' %>
<%= turbo_stream_from 'likes' %>

<div class="h-full w-full grid grid-cols-9 grid-rows-1">
  
  <div class="col-start-3 col-end-7 overflow-y-auto 
              flex flex-col gap-1 z-10 border-x-2 border-green-200">
    
    <div class="flex p-4 gap-4 bg-white border-b-2 border-green-200">
      <div>
        <%= user_avatar current_user, class: 'h-16 w-16 rounded-full' %>
      </div>
      
      <div class="flex-1 flex flex-col justify-center">
        <%= form_with model: @new_post, scope: :post, data: { turbo_frame: '_top' } do |form| %>
           <%= form.text_area :body, class: 'resize-none p-2 font-semibold w-full focus:h-32', placeholder: "What's going on?" %>
           <div class="flex justify-between py-4 border-t border-gray-200">
           <label class="relative h-8 w-8">
             <%= embedded_svg 'icons/image.svg', class: 'w-full h-full cursor-pointer z-10' %>
             <%= form.file_field :images, multiple: true, class:"absolute top-0 right-0 opacity-0 cursor-pointer min-h-full min-w-full" %>
           </label>
            <%= form.submit 'Post', class: 'bg-green-500 text-white font-bold text-lg p-2 rounded-md' %>
           </div>
         <% end %>
      </div>
    </div>
    <div class='flex flex-col'>
      <% @posts.each do |post| %>
      
        <div class="flex p-4 gap-4 bg-white border-b-2 border-green-200">
          <div class="flex gap-3">
            <%= user_avatar current_user, class: 'h-10 w-10 rounded-full z-10' %>
          </div>
        
          <div class="flex-1 flex flex-col justify-center relative">
            <%= link_to new_post_report_path(post.id),
                        data: { turbo_frame: 'modal' },
                        class: 'absolute top-0 right-0 cursor-pointer p-2 hover:bg-red-200 rounded-full' do %>
              <%= embedded_svg 'icons/report.svg', class: 'h-8 stroke-1' %>
            <% end %>
            <%= link_to post.user.username, profile_path(post.user.username), class: "font-medium text-lg" %>
          <div class="p-2 min-h-max" ><%= post.body %></div>
          <% if post.images.attached?%>
            <div class="rounded-xl max-h-max w-full bg-blue-200 overflow-hidden">
                <% post.images.each do |image|%>
                  <p><%= image_tag image, class: "w-full h-full object-cover" %></p>
                <% end %>
            </div>
          <% end %>
          <div class="flex gap-10 font-light text-lg mt-4">
            <div class="flex justify-between font-light text-lg mt-4 w-full">
              <div class="flex gap-10">
                <%= link_to post_path(post) do %>
                <%= embedded_svg 'icons/eye.svg', class: 'h-8 w-8 hover:stroke-blue-500 cursor-pointer' %>
                <% end %>
                <div class="flex gap-2 items-center">
                  <%= embedded_svg 'icons/comment.svg', class: 'h-8 w-8' %>
                  <%= render 'posts/comment', user: current_user, post: %>
                </div>
                <div class="flex gap-2 items-center">
                  <% like = current_user.likes.find_by(post: post) %>
                  <% if like.nil? %>
                    <%= button_to "Like", likes_path, params: { like: { post_id: post.id } }, method: :post %>
                  <% else %>
                    <%= button_to "Unlike", like_path(like), method: :delete %>
                  <% end %>
                  <%= render 'posts/like', user: current_user, post: %>
                </div>
              </div>
                  <% if current_user == post.user %>
                    <%= button_to post_path(post), method: :delete, class: 'w-6 mr-2 transform hover:text-green-500 hover:scale-110 cursor-pointer' do %>
                    <%= embedded_svg 'icons/delete.svg' %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
          </div>
        </div>
      <% end %>
    </div>
  
  <div class="col-start-8 col-end-10 row-end-2">
  </div>
</div>



