<%= button_to ' Sign out', destroy_user_session_path, method: :delete%>
<% @posts.each do |post|%>
    <p><h1><%= post.user.username%></h1><%= post.body%></p>
    <% if post.images.attached?%>
        <% post.images.each do |image|%>
            <p><%= image_tag image, width: "200px"%></p>
        <%end%>
    <%end%>

    <%if current_user%>
        <div>
            <%= link_to ' Edit', edit_post_path(post)%>
            <%= button_to ' Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' }%>
        </div>
    <%end%>
<%end%>

