<div class="h-full w-full grid grid-cols-9 grid-rows-[92vh]">
  
  <div class="col-start-3 col-end-7 overflow-y-auto 
              flex flex-col gap-1 z-10 border-x-2 border-green-200">
    
    <div class="flex p-4 gap-4 bg-white border-b-2 border-green-200">
      <div>
        <div class="bg-green-200 h-16 w-16 rounded-full">
        </div>
      </div>
      
      <div class="flex-1 flex flex-col justify-center">
        <%= form_with model: @new_post, data: { turbo_frame: '_top' } do |form| %>
           <%= form.text_area :body, class: 'resize-none p-2 font-semibold w-full focus:h-32', placeholder: "What's going on?" %>
           <div class="flex justify-between py-4 border-t border-gray-200">
           <label class="relative h-8 w-8">
             <%= vite_image_tag 'icons/image.svg', class: 'w-full h-full cursor-pointer z-10' %>
             <%= form.file_field :images, multiple: true, class:"absolute top-0 right-0 opacity-0 cursor-pointer min-h-full min-w-full" %>
           </label>
            <%= form.submit 'Post', class: 'bg-green-500 text-white font-bold text-lg p-2 rounded-md' %>
           </div>
         <% end %>
      </div>
    </div>
    
    <% @posts.each do |post| %>
      
      <div class="flex p-4 gap-4 bg-white border-b-2 border-green-200">
        <div class="flex gap-3">
          <div class="bg-green-200 h-10 w-10 rounded-full">
          </div>
        </div>
        
        <div class="flex-1 flex flex-col justify-center">
          <h5 class="font-medium text-lg"><%= post.user.username %></h5>
           <p class="p-2 min-h-max" ><%= post.body %></p>
           <% if post.images.attached?%>
             <div class="rounded-xl max-h-max w-full bg-blue-200 overflow-hidden">
                <% post.images.each do |image|%>
                  <p><%= image_tag image, class: "w-full h-full object-cover" %></p>
                <% end %>
             </div>
           <% end %>
           <div class="flex gap-10 font-light text-lg mt-4">
             <div class="flex gap-2 items-center">
               <%= vite_image_tag 'icons/comment.svg', class: 'h-8 w-8' %>
               <p>420</p>
             </div>
             <div class="flex gap-2 items-center">
               <%= vite_image_tag 'icons/heart.svg', class: 'h-8 w-8' %>
               <p>69</p>
             </div>
           </div>
        </div>
      </div>
      
    <% end %>
    
  </div>
  
  <div class="col-start-8 col-end-10 row-end-2">
  </div>
</div>
<%= button_to ' Sign out', destroy_user_session_path, method: :delete%>
<% @posts.each do |post|%>
    <p><h1><%= post.user.username%></h1><%= post.body%></p>
    <% if post.images.attached?%>
        <% post.images.each do |image|%>
            <p><%= image_tag image, width: "200px"%></p>
        <%end%>
    <%end%>

    <h3>Comment</h3>
    <% @comments.each do |comment|%>
        <% if comment.post_id == post.id%>
            <h4><%= comment.user.username%></h4>
            <h4><%= comment.body%></h4>
            <% if comment.user_id == current_user.id%>
                <%= button_to 'Delete comment', comment_path(comment), method: :delete%>
            <%end%>
        <%end%>
    <%end%>
    <%= render "comments/form", post_id: post.id, comment: @comment  %>

    <%if current_user%>
        <div>
            <%= link_to ' Edit', edit_post_path(post)%>
            <%= button_to ' Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' }%>
        </div>
    <%end%>


<%end%>

