<%= turbo_stream_from 'comments' %>

<strong><%= @post.user.username%></strong>
<p><%= @post.body%></p>
<% if @post.images.attached?%>
  <% @post.images.includes([:blob]).each do |image|%>
    <p><%= image_tag image, width: "200px"%></p>
  <%end%>
<%end%>
<div>
  <%= render partial: "comments/form", locals: {post: @post}%>
</div>
<div id="<%= dom_id(@post) %>">
  <% @comments.each do |comment|%>
    <%= render 'posts/comment', comment:, user: current_user, post: @post %>
  <%end%>
</div>
<div>
  <% if @post.user_id == current_user.id%>
    <%= link_to ' Edit', edit_post_path(@post)%>
    <%= link_to ' Back', posts_path %>
  <%end%>
</div>
