<h1>Exercise routines</h1>

<% @routines.each do |routine|%>
    <p><b>routine:</b> <%= routine.name%></p>
    <p><b>Description:</b> <%= routine.description%></p>
    <%= link_to "Update", edit_routine_path(routine)%>
    <%= button_to "Delete", routine_path(routine), method: :delete %>
<%end%>

<%= link_to "Add exercise routine", new_routine_path %>

