<div class="w-full h-full grid grid-cols-4 grid-rows-1">
  <div class="col-start-2 col-span-2 row-end-2 overflow-auto flex flex-col border-x border-gray-200">
    <div class="bg-green-300 w-full h-44 flex items-end justify-center">
      <div class="relative -bottom-12 h-32 w-32 rounded-full p-1 bg-white">
        <%= user_avatar @user, class: 'w-full h-full rounded-full' %>
      </div>
    </div>

    <div class="w-full text-center mt-14">
      <h2 class="text-xl font-bold"><%= @user.username %></h2>
      <p class="text-gray-400"><%= @user.email %></p>
    </div>
    <div class="w-full h-10 flex flex justify-center gap-4">
      <p><span class='font-bold'><%= @following_count %></span> following </p>
      <p><span class='font-bold'><%= @follower_count %></span> followers </p>
    </div>
    <div class="w-full flex-1">
      <div class="w-full grid grid-cols-4 justify-items-center border-b border-gray-200 text-center">
        <p class="p-6 border-b-4 font-bold">Posts</p>
      </div>
      <div>
        <% @posts.each do |post| %>
          <%= render 'admin/users/profile', post: %>
        <% end %>
      </div>
    </div>
  </div>
</div>
