<!DOCTYPE html>
<html>
  <head>
    <title>Healthier</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

  </head>

  <body>
    <div class="h-screen w-screen flex">
      <div class="h-full w-24 bg-gray-100 flex flex-col justify-between gap-16 items-center py-5">
        <div class="h-14 w-14 bg-gray-500 text-center text-white rounded-full flex items-center justify-center">
          LOGO
        </div>
        <ul class="flex-1 flex flex-col gap-5">
          <li>
            <%= vite_image_tag 'icons/home.svg', class: 'h-8' %>
          </li>
          <li>
            <%= vite_image_tag 'icons/explore.svg', class: 'h-8' %>
          </li>
          <li>
            <%= vite_image_tag 'icons/chat.svg', class: 'h-8' %>
          </li>
          <li>
            <%= vite_image_tag 'icons/settings.svg', class: 'h-8' %>
          </li>
        </ul>
        <button class="bg-blue-500 rounded-full p-2"><%= vite_image_tag 'icons/plus.svg', class: 'h-8' %></button>
      </div>
      <div class="flex-1">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
